## Slightly better way to express than the shell glob
**/node_modules

## Per https://intellij-support.jetbrains.com/hc/en-us/articles/206827587-How-to-manage-projects-under-Version-Control-Systems
## recommendation is to share "All the files under .idea directory in the project root except the workspace.xml and
## tasks.xml files which store user specific settings

**/.idea/workspace.xml
**/.idea/tasks.xml
